:root {
    /* couleur */
    --color-background: #00FFEA;
    --color-text: #000000;
    --color-secondaire: #ffffff;

    /* font size */
    --font-size-s: 8px;
    --font-size-m: 16px;
    --font-size-lg: 24px;

    /* border radius */
    --border-card: 12px:
    --border-image; 12px:
    --border-card: 12px:

    
}